<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4 border border-primary p-5">
        <h2 class="text-center">Login</h2>
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username"
                    [(ngModel)]="username" name="username" autocomplete="on">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password"
                    [(ngModel)]="password" name="password" autocomplete="on">
            </div>
            <button type="submit" class="btn btn-primary btn-block" (click)="login()">Login</button>
        </form>
    </div>
</div>